# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Logs
logs/
*.log

# Data (ONLY raw local copies, not DVC-managed outputs)
data/raw/*
data/interim/*
data/ingested/*
data/processed/*
data/splits/*

# BUT keep DVC metadata files
!*.dvc


# Model artifacts
models/checkpoints/
models/final/

# MLflow
mlruns/
experiments/mlflow/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Archives
*.tar
*.zip

# DVC internal
.dvc/cache

# Artifacts
*.pth