# Core ML
torch
torchvision
torchaudio

# Data handling
numpy
pandas
scikit-learn

# Image processing
opencv-python
Pillow

# Visualization
matplotlib
seaborn

# Experiment tracking
dvc[s3]
mlflow

# Config handling
pyyaml

# API (for deployment later)
fastapi
uvicorn

# Notebook support
jupyter
ipykernel

# Utilities
tqdm

h5py

joblib

pytorch-grad-cam

scipy